<header>

  <div class="container">
    <div class= "quick-navigation">
      <%= image_tag 'section-button.png', width:'104px', height:'30px', id:'section-button' %>
       <%= image_tag 'home-button.png', width:'75px', height:'30px', id:'home-button' %>
       <%= image_tag 'search-button.png', width:'85px', height:'30px', id:'search-button' %>
    </div>   
    
    <div class="branding">
       <a href = "https://www.nytimes.com/">
        <%= image_tag 'branding.png', width:'185px', height:'26px', id:'branding-pic' %>
        </a>
    </div>

    <div class= "user-tool">
      <%= image_tag 'subscribe-button.png', width:'100px', height:'30px', id:'subscribe-button', pading:'0'%> 
      <%= image_tag 'login-button.png', width:'60px', height:'30px', id:'login-button', pading:'0'%> 
        <%= image_tag 'setting-button.png', width:'30px', height:'30px', id:'setting-button'%> 
    </div>
  </div>

</header>
